# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/
.env/
.envrc

# Editor
.vscode/
.idea/
*.swp

# Distribution
dist/
build/
*.egg-info/

# Logs
*.log

# OS
.DS_Store

# Docs output
docs/*.pdf
